<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagura File / Report</title></head>
<body>
<h1>{{ file.title }}</h1>
<p>Progetto: <span id=""> {{ file.project.title }}</span></p>
<h2>Lista versioni</h2>
<table>
    <tr>
        <th>Versione</th>
        <th>Data di sottomissione</th>
        <th>Report</th>
    </tr>
    {% for version in file.versions %}
        <tr>
            <th>
                <a href="/get_version/{{ file.uuid }}/{{ version.uuid }}"> <p>{{ version.version }}<p> </a>
            </th>
            <th><p>{{ version.submitted }}<p></th>
            <th>{% if version.getLastReport() != none %}
                <p>{{ version.getLastReport().Report.description }}<p>
                {% else %}
                <p>Ancora in valutazione<p>
                {% endif %}
            </th>
        <th><a href="/"></a></th>
        </tr>
    {% endfor %}
</table>
<h3>Aggiungi una nuova versione</h3>
<form method="post" enctype="multipart/form-data">
    <label for="">Versione</label>
    <input type="number" name="version" id="version">
    <br>
    <label for="">Dettagli</label>
    <input type="text" name="details" id="details">
    <br>
    <input type="file" name="newVersion" id="newVersion" name="">
    <input type="submit">
</form>
<h2></h2>
</body>
</html>