<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

    {% if login_error %}
        <div class="alert alert-danger" role="alert">
        Email o Password ERRATE
        </div>
    {% endif %}
<h1>Project Evaluation</h1>
<form method="post">
    <div>
        <input name="email" type="email" id="email"/>
        <label for="email">Email</label>
    </div>
    <div>
        <input name="password" type="password" id="password"/>
        <label for="password">Password</label>
    </div>

    <input type="submit" value="Login">
</form>

</body>
</html>